@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    max-width: 100%;
    left: 0px;
    top: 0px;
}

.frame9{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 70px 130px;
    gap: 8px;

    width: 829px;
    height: 1024px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.frame8{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 156px;

    width: 555px;
    height: 637px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.enlig{
    width: 101px;
    height: 32px;

    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    
    color: #0A1B59;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame6{
    //auto layout
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 555px;
    height: 449px;

    //Inside auto layout
    flex: none;
    order: 1;
    flex-grow: 0;
}

.frame1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 555px;
    height: 289px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 15px;
    

    width: 100px;
    height: 35px;

    background: rgba(17, 63, 226, 0.1);
    border-radius: 100px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.text2{
    width: 100px;
    height: 50px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 21px;

    letter-spacing: 2px;

    color: #113FE2;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.text3{
    width: 457px;
    height: 132px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 66px;

    color: #0A1B59;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.text4{
    width: 457px;
    height: 96px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;

    color: rgba(10, 27, 89, 0.6);

    flex: none;
    order: 2;
    flex-grow: 0;
}

.frame7{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 20px;

    width: 541px;
    height: 120px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.frame5{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 20px;

    width: 541px;
    height: 52px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.text5{
    width: 120px;
    height: 50px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
    

    color: rgba(10, 27, 89, 0.6);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame3{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0px 10px 20px;
    gap: 8px;
    

    width: 390px;
    height: 52px;

    border: 1px solid rgba(10, 27, 89, 0.2);
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame4{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 6px 10px 20px;
    gap: 8px;

    width: 100px;
    height: 30px;

    background: #113FE2;
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;

}

.text6{
    width: 71px;
    height: 31px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 3px;
    text-align: center;
    

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.text7{
    width: 541px;
    height: 48px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: rgba(10, 27, 89, 0.6);

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.foto{
    position: absolute;
    width: 611px;
    height: 1024px;
    left: 0px;
    top: 0px;

    background: url(.jpg);
}

img {
    width: 800px;
    height: 1600px;

    background: url(.jpg);

    flex: none;
    order: 1;
    flex-grow: 0;
} */



